#formpage { border: 2px solid black;text-align: center;padding: 5px 2px 5px 2px; line-height: 2; margin: 0px;width: 300px; margin: 0 auto;margin-top: 200px; font-family: 'Shippori Mincho', serif;}

#formpage h1 {padding: 2px; margin-bottom: 0px;}

#submit{width: 20em; height: 2em;}

